form {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;

  overflow: hidden;
  padding: 8rem;
}

.input-block label {
  color: #8FA7B2;
  font: 600 1.8rem/2.2rem "Nunito", sans-serif;
}

.input-block span {
    color: #8FA7B2;
    font: normal 1.4rem/2rem 'Nunito', sans-serif;
    margin-left: 3.2rem;
}

.input-block input,
.input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border-radius: 2rem;
    border: 1px solid #D3E2E5;
    color: #8FA7B2;

    padding: 1.4rem;
    transition: border 200ms;
}

.input-block input {
    height: 6.4rem;
}

.input-block textarea {
    height: 18rem;
    resize: none;
    line-height: 2.8rem;
}

.input-block input:focus,
.input-block textarea:focus {
    border: 2px solid #b4bebe;
}

.input-block + .input-block {
  margin-top: 2.4rem;
}

.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #A1E9C5;
}

fieldset {
  border: none;
}

/*
  O seletor + resgata o irmão do elemento HTML, ou seja, o próximo elemento.
  */
fieldset + fieldset {
  margin-top: 7rem;
}

fieldset legend {
  width: 100%;

  font: bold 3.2rem/1.5 "Nunito", sans-serif;
  line-height: 1.5;
  color: #4d6f80;
  border-bottom: 1px solid #d3e2e5;
  margin: 4rem 0;
  padding-bottom: 2.4rem;
}

.new-upload {
  position: relative;
}

.new-upload span {
  position: absolute;
  right: 12px;
  bottom: 11px;
  padding: .8rem;
  border-radius: 10px;
  cursor: pointer;

  background: #FFFFFF;
  border: 1px solid #D3E2E5;

  display: flex;
}
