.page-orphanages {
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
    display: flex;
}

.aside {
  background: linear-gradient(
    1deg,
    rgb(70, 170, 228) 0%,
    rgb(71, 204, 209) 100%
  );
  min-height: 100vh;
  width: clamp(24rem, 20vw, 25vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: clamp(2vw, 2.25vw, 2.5vw);
}

.aside h1 {
    margin-top: 6.4rem;
    font: 800 4.25rem/1.1 'Nunito', sans-serif;
}

.aside p {
    margin-top: 2.4rem;
}

a.create-orphanage {
    position: absolute;
    right: 4rem;
    bottom: 4rem;

    z-index: 2;

    width: 6.4rem;
    height: 6.4rem;
    border-radius: 2rem;
    background-color: #15C3D6;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 200ms;
}

a.create-orphanage:hover {
    background: #17D6EB;
}

/*
Ajustes no mapa interativo:
*/

#mapid {
    width: clamp(76rem, 80vw, 80vw);
    animation-delay: 200ms;
}

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}

.leaflet-popup-content {
  color: #0089A5;
  margin: .8rem 1.8rem;
  font: 800 2rem/1 'Nunito', sans-serif;


  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaflet-popup-content a {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  background: #15C3D6;
  /*
  box-shadow: deslocamentoEixoX deslocamentoEixoY blur(esfumaçado) cor
  */
  box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
  border-radius: 12px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms;
}

.leaflet-popup-content a:hover {
  background: #17D6EB;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-container {
  z-index: 1;
}
