<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy | Orfanatos</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-orphanages.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="icon" href="/images/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>

  <body>
    <div class="page-orphanages">
      <div class="container">
        <aside class="aside right">
          <header>
            <a href="/" title="Página inicial">
              <img src="/images/map-marker.svg" alt="Logomarca" />
            </a>

            <h1>Selecione um orfanato no mapa</h1>
            <p>Muitas crianças aguardam pela sua visita!</p>
          </header>

          <footer>
            <p><strong>SP</strong><br />São Paulo</p>
            <br />
            <p>Risum.org &copy; 2020 - Todos os direitos resevados</p>
          </footer>
        </aside>
        <a
          href="/create-orphanage"
          class="create-orphanage"
          title="Adicionar orfanato"
        >
          <img src="/images/plus.svg" alt="Adicionar orfanato" />
        </a>
        <div id="mapid" class="appear"></div>
      </div>
    </div>

    <script src="/js/page-orphanages.js"></script>
  </body>
</html>
