/*
Animações com elementos da página abaixo (keyframes)
*/

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left {
    from {
        opacity: 0;
        transform: translateX(16px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.right {
    animation-name: right;
    animation-duration: 400ms;
}

.left {
    animation-name: left;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.header {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

.content h1 {
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

.visit a {
  animation-delay: 250ms;
}

.visit a:hover {
  background-color: #ffbb00;
}
