/*
    Comentários em CSS são assim
    Prioridade das regras CSS:
    1º - Estilos escritos na mesma linha do elemento HTML
    2º - Estilos escritos dentro da tag <style> no documento HTML
    3º - Estilos do arquivo CSS separado (esse caso)

    OBS: se outro estilo para o mesmo elemento for informado no mesmo documento CSS, apenas o último declarado será válido, por isso o nome Cascade StyleSheet (Cascata). Tudo isso é de acordo com a especificidade, onde o mais específico será utilizado

    O comando !important pode ser usado para indicar a maior especificidade em uma regra CSS, fazendo com que ela seja a única aplicada, ignorando todas as regras anteriores
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  color: white;
  height: 100vh;
  margin: auto;
  background: #EBF2F5;
}

body,
input,
button,
textarea {
  /*Shorthand abaixo indica o weight, size, line-height, font-family e font-family secundária do texto*/
  font: 400 1.7rem/1.5 "Nunito", sans-serif;
}

.footer p {
    align-items: center;
    text-align: center;
    margin-top: 7rem;
}
